.site-header{
  position: sticky;
  top: 0;
  background: #1d2f46;
  z-index: 1000;
  box-shadow: none;
}
body{ margin: 0; }


.nav{
  max-width: 1200px;
  margin: 0 auto;
  height: 76px;         
  padding: 0 24px;       
  display: flex;
  align-items: center;   
  justify-content: space-between;
}

.logo{
  display: inline-flex;
  align-items: center;            
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  flex-shrink: 0;
}

.logo-icon{
  height: 34px;          
  width: auto;
  display: block;
}
.logo-text{
  height: 46px;         
  width: auto;
  display: block;
}

/* Menu */
.nav-links{
  list-style: none;
  display: flex;
  gap: 36px;
  margin: 0;
  padding: 0;
  align-items: center;
}
.nav-links a{
  font-family: "Forum", serif;
  text-transform: uppercase;
  letter-spacing: .06em;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  transition: color .2s, opacity .2s;
}
.nav-links a:hover{
  color: #d4b07a;        
}

.section {
  height: 100vh;              
  display: flex;
  align-items: center;        
  justify-content: center;    
  font-family: 'Forum', serif; 
  font-size: 2rem;
  color: white;
}

#home { 
  background: #1d2f46; /* azul escuro */
}

#vantagens { 
  background: #4d5f76; /* azul/cinza médio */
}

#diferenciais { 
  background: #2e4057; /* azul acinzentado escuro */
}

#areas { 
  background: #3c566e; /* azul médio mais claro */
}

#contato { 
  background: #5d6f86; /* azul acinzentado claro */
}

html {
    scroll-behavior: smooth;
}

